html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#__next {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.active {
  border-bottom: salmon solid 2px;
}
